{{extend '../template.html'}} {{block 'title'}}{{user.username}}修改资料{{/block}} {{block 'content'}}
<div class="row">
    <div class="col-md-10 col-md-push-1">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">修改资料</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" name="username" class="form-control" id="username" placeholder="用户名" value="{{user.username}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="petname" class="col-sm-2 control-label">昵称</label>
                        <div class="col-sm-10">
                            <input type="text" name="petname" class="form-control" id="petname" placeholder="昵称" value="{{user.petname}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{{user.email}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">手机</label>
                        <div class="col-sm-10">
                            <input type="text" name="phone" class="form-control" id="phone" placeholder="手机" value="{{user.phone}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="{{user.password}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">地址</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="address" id="address" rows="3" placeholder="地址...">{{user.address}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="isAdmin" class="col-sm-2 control-label">角色</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="isAdmin">
                                <option value="false" {{if !user.isAdmin}} selected {{/if}}>普通用户</option>
                                <option value="true" {{if user.isAdmin}} selected {{/if}}>管理员</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <center><button type="submit" class="btn btn-info">修改</button></center>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
        <!-- /.box -->
    </div>
</div>
{{/block}} {{block 'script'}}
<script>
    $('form').submit(function (ev) {
        ev.preventDefault();
        $.post('/admin/user/edit/{{user.id}}', $(this).serialize(), function (res) {
            $('.js-msg').html(res.msg)
            $('#modal').modal('show');
            if (res.code == 1) {
                $('#modal').on('hidden.bs.modal', function (e) {
                    window.location.href = '/admin/user/list/';
                })
            }
        })
    })

</script>
{{/block}}