{{extend '../template.html'}} {{block 'title'}}添加书籍{{/block}} {{block 'style'}}
<style>
    .upload-preview {
        position: relative;
        display: table;
        border: 1px solid #ddd;
        box-shadow: 1px 1px 5px 0 #a2958a;
        padding: 6px;
        float: left;
        text-align: center;
        cursor: pointer;
    }

    .upload-preview>.preview-img img {
        width: auto;
        height: 160px;
    }

    input[type=file] {
        display: none;
    }
</style>
{{/block}} {{block 'content'}}
<div class="row">
    <div class="col-md-10 col-md-push-1">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">添加书籍</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="alert alert-danger fade in js-msg col-md-10 col-md-push-1" role="alert" style="display:none;"></div>
                    <div class="form-group">
                        <label for="bookName" class="col-sm-2 control-label">书籍名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="bookName" class="form-control" id="bookName" placeholder="书名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="author" class="col-sm-2 control-label">作者</label>
                        <div class="col-sm-10">
                            <input type="text" name="author" class="form-control" id="author" placeholder="作者">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-sm-2 control-label">价格</label>
                        <div class="col-sm-10">
                            <input type="text" name="price" class="form-control" id="price" placeholder="价格">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publisher" class="col-sm-2 control-label">出版商</label>
                        <div class="col-sm-10">
                            <input type="text" name="publisher" class="form-control" id="publisher" placeholder="出版商">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ISBN" class="col-sm-2 control-label">ISBN</label>
                        <div class="col-sm-10">
                            <input type="text" name="ISBN" class="form-control" id="ISBN" placeholder="ISBN">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="score" class="col-sm-2 control-label">评分</label>
                        <div class="col-sm-10">
                            <input type="text" name="score" class="form-control" id="score" placeholder="评分">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="time" class="col-sm-2 control-label">出版时间</label>
                        <div class="col-sm-10">
                            <input type="text" name="time" class="form-control" id="time" placeholder="出版时间">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="introduction" class="col-sm-2 control-label">简介</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="introduction" id="introduction" rows="4" placeholder="简介"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="picture" class="col-sm-2 control-label">图片</label>
                        <div class="col-sm-10">
                            <div class="upload-preview">
                                <div class="preview-img">
                                    <img src="/img/default/select.png" class="img">
                                </div>
                            </div>
                            <input type="file" name="picture" class="pic-file" onchange="Preview(this)">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <center><button type="submit" class="btn btn-info">添加</button></center>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
        <!-- /.box -->
    </div>
</div>
{{/block}} {{block 'script'}}
<script>
    $('form').submit(function (ev) {
        ev.preventDefault();
        $.post('/admin/book/add', $(this).serialize(), function (res) {
            if (res.code == 1) {
                window.location.href = '/admin/book/list/';
            } else {
                $('.js-msg').html(res.msg).show('normal');
            }
        })
    })
    $('.upload-preview').on('click', function () {
        $('.pic-file').click();
    })
    function Preview(pic) {
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
            return;
        }

        //获取文件
        var file = pic.files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        reader.onload = function (e) {
            $('.img').attr('src',e.target.result)
        };
        reader.readAsDataURL(file);
    }
</script>
{{/block}}