{{extend '../template.html'}} {{block 'title'}}书籍列表{{/block}} {{block 'content'}}
<div class="row">
    <div class="col-md-10 col-md-push-1">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">书籍列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-4 col-md-push-8">
                    <form action="/admin/book/list/" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="bookName" class="form-control js-search" placeholder="请输入名称..." value="{{search}}">
                            <span class="input-group-btn">
                                <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th>名称</th>
                        <th>作者</th>
                        <th>价格</th>
                        <th>出版商</th>
                        <th>ISBN</th>
                        <th>评分</th>
                        <th>出版时间</th>
                        <th>操作</th>
                    </tr>
                    {{if books.length > 0}} {{each books as book i}}
                    <tr>
                        <td>{{book.bookName}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.price}}</td>
                        <td>{{book.publisher}}</td>
                        <td>{{book.ISBN}}</td>
                        <td>{{book.score}}</td>
                        <td>{{book.time}}</td>
                        <td>
                            <a href="/admin/book/edit/{{book.id}}"><i class="fa fa-edit"></i>编辑</a>
                            <a href="" onclick="del('/admin/book/del/{{book.id}}')"><i class="fa fa-trash-o"></i>删除</a>
                        </td>
                    </tr>
                    {{/each}} {{else}}
                    <tr>
                        <td colspan="8" class="text-center">当前书籍为空</td>
                    </tr>
                    {{/if}}
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="javascript:void(0)" {{if page !=1 }} onclick="go('{{page-1}}')" {{/if}}>&laquo;</a></li>
                    {{each pages as p}}
                    <li><a href="javascript:void(0)" onclick="go('{{p}}')" {{if p== page }}class="active" {{/if}}>{{p}}</a></li>
                    {{/each}}
                    <li><a href="javascript:void(0)" {{if page != pageCount }} onclick="go('{{page+1}}')" {{/if}}>&raquo;</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>
{{/block}} {{block 'script'}}
<script>
    $(function () {
        $('.js-search').keyup(function () {
            SearchTo();
        })
    })
    function del(url) {
        $.get(url, function (res) {
            if (res.code == 1) {
                window.location.href = '/admin/book/list/';
            } else {
                $('.js-msg').html(res.msg).show('normal');
            }
        })
    }
    function go(page) {
        window.location.href = '/admin/book/list/' + page+ '?bookName=' + $('.js-search').val();
    }
    var SearchTime = 0;
    var SearchGo = false;
    var SearchGo_;
    function Search() {
        if (SearchGo) {
            if (SearchTime <= 10) {
                SearchTime++;
                clearInterval(SearchGo_);
                SearchGo_ = setInterval("Search()", 100);
            }
            else {
                SearchGo = false;
                window.location.href = '/admin/book/list/?bookName=' + $('.js-search').val();
            }
        } else {
            clearInterval(SearchGo_);
        }
    }

    function SearchTo() {
        SearchTime = 0;
        SearchGo = true;
        Search();
    }

</script>
<!-- /.col -->
{{/block}}