<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>分类</h2>
        <div class="panel-group category-products" id="category">
            <!--category-productsr-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/list/shop/9/1?type=计算机">计算机</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/list/shop/9/1?type=小说">小说</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/list/shop/9/1?type=文学">文学</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/list/shop/9/1?type=传记">传记</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/list/shop/9/1?type=动漫">动漫</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/list/shop/9/1?type=历史">历史</a></h4>
                </div>
            </div>
        </div>
        <!--/category-products-->
    </div>
</div>