{{extend './main.html'}} {{block 'title'}}图书商城{{/block}} {{block 'content'}}
<section>
    <div class="container">
        <div class="row">
            {{include './category.html'}}
            <div class="col-sm-9 padding-right">
                <!--features_items-->
                <div class="features_items">

                </div>
                <!--recommended_items-->
                <div class="recommended_items">

                </div>
            </div>
        </div>
    </div>
</section>
{{/block}} {{block 'script'}}
<script>
    $(function () {
        $('.features_items').load('/list/new/9')
        $('.recommended_items').load('/list/recommend/9?order=score');
        $('#category').on('click', 'a', function () {
            $('.features_items').load('/list/new/9?type=' + $(this).data('type'));
        })
    })
</script>
{{/block}}