<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="online bookstore">
    <meta name="author" content="王一平">
    <title>{{block 'title'}}网上书城{{/block}}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/shop.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
</head>

<body>
    <header id="header">
        <!--header-->
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="/"><img src="/img/default/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                {{block 'nav'}}
                                <li><a href="javascript:void(0)" onclick="cart()"><i class="fa fa-shopping-cart"></i> 购物车</a></li>
                                <li class="js-login-li"><a href="/login"><i class="fa fa-lock"></i> 登录</a></li>
                                {{/block}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="/">首页</a></li>
                                <li><a href="/list/shop/9/1">图书</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" class="js_search" value="{{search}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-bottom-->
    </header>
    <!--/header-->
    <div class="modal fade text-center" id="modal" >
        <div class="modal-dialog">
            <div class="modal-content" style="width:300px;margin:auto;margin-top: 200px;">
                <div class="modal-body js-msg"></div>
            </div>
        </div>
    </div>
    {{block 'content'}}{{/block}}

    <footer id="footer">
        <!--Footer-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <h3 class="hidden-xs">在本项目开发过程中，参考和使用了以下开源项目。</h3>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>前端模板</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                                <li><a href="https://adminlte.io/">Admin LTE</a></li>
                                <li><a href="http://glyphicons.com/">Glyphicons</a></li>
                                <li><a href="http://fontawesome.io/">Font Awesome</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>开源插件</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="http://jquery.com/">jQuery</a></li>
                                <li><a href="http://plugins.jquery.com/cookie/">jQuery.cookie</a></li>
                                <li><a href="http://api.jquery.com/category/forms/">jQuery.form</a></li>
                                <li><a href="https://markgoodyear.com/2013/01/scrollup-jquery-plugin/">jQuery.scrollUp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2017 BookStore Inc. All rights reserved. <a href="/admin">管理员登录</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer-->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script>
        $(function () {
            $.scrollUp({
                scrollText: '<i class="fa fa-angle-up"></i>'
            });
            user = checkLogin();
            if (user) {
                $('.js-login-li').remove();
                var user_li = '<li><a href="/order/' + user._id + '" class="js-order"><i class="fa fa-lock"></i> 订单</a></li>' +
                    '<li class="dropdown">' +
                    '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>' + user.petname + ' <b class="caret"></b></a>' +
                    '<ul class="sub-menu">' +
                    '<li><a href="/user/edit/' + user._id + '">修改资料</a></li>' +
                    '<li><a href="/logout">退出</a></li>' +
                    '</ul>' +
                    '</li>'
                $(user_li).appendTo('.shop-menu .navbar-nav')
            }
            $('.js_search').keyup(function () {
                SearchTo();
            })
        });
        function checkLogin() {
            if ($.cookie("user")) {
                var user = $.parseJSON($.cookie("user").substr(2));
                return user;
            } else {
                return false;
            }
        }
        function addCart(btn) {
            if (user) {
                $.post('/cart/add', { user: user._id, book: $(btn).data('bookid') }, function (res) {
                    $('.js-msg').html(res.msg)
                    $('#modal').modal('show');
                })
            } else {
                $('.js-msg').html('请先登录')
                $('#modal').modal('show');
            }
        }
        function cart() {
            if (user) {
                window.location.href = '/cart/list/' + user._id;
            } else {
                alert('请先登录');
            }
        }
        var SearchTime = 0;
        var SearchGo = false;
        var SearchGo_;
        function Search() {
            if (SearchGo) {
                if (SearchTime <= 3) {
                    SearchTime++;
                    clearInterval(SearchGo_);
                    SearchGo_ = setInterval("Search()", 100);
                }
                else {
                    SearchGo = false;
                    window.location.href = '/list/shop/9/?search=' + $('.js_search').val();
                }
            } else {
                clearInterval(SearchGo_);
            }
        }

        function SearchTo() {
            SearchTime = 0;
            SearchGo = true;
            Search();
        }
    </script>
    {{block 'script'}} {{/block}}
</body>

</html>