<h2 class="title text-center">新书发布</h2>
{{if books.length > 0}}
{{each books as book}}
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="img/book/{{book.picture}}" onerror="this.src='/img/default/no-img.png'" alt="" />
                <h2>{{book.bookName}}</h2>
                <p>{{book.price}}</p>
                <a href="javascript:void(0)" data-bookid="{{book.id}}" onclick="addCart(this)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>加入购物车</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2><a href="/book/{{book.id}}">{{book.bookName}}</a></h2>
                    <p>{{book.price}}</p>
                    <a href="javascript:void(0)" data-bookid="{{book.id}}" onclick="addCart(this)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<div class="col-md-12">
    <center><h3>无此书籍。</h3></center>
</div>
{{/if}}