{{extend './main.html'}} {{block 'title'}}用户订单{{/block}} {{block 'nav'}}
<li><a href="javascript:void(0)" onclick="cart()"><i class="fa fa-shopping-cart"></i> 购物车</a></li>
<li><a href="/login" class="js-login-li"><i class="fa fa-lock"></i> 登录</a></li>
{{/block}} {{block 'content'}}
<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            {{each orders as order}}
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td colspan="2"><span>{{order.createTime}}</span></td>
                        <td colspan="2">订单号：{{order.id}}</td>
                        <td><a href="javascript:void(0)" onclick="del('/order/del/{{order.id}}')">删除订单</a></td>
                    </tr>
                </thead>
                <% for(var i = 0; i < order.product.length; i++){ %>
                    <tbody>
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="/img/book/{{order.product[i].book.picture}}" onerror="this.src='/img/default/no-img-cart.png'"></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">{{order.product[i].book.bookName}}</a></h4>
                            </td>
                            <td class="cart_price">
                                <p>￥{{order.product[i].book.price}}</p>
                            </td>
                            <td class="cart_quantity">
                                <p>{{order.product[i].count}}本</p>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">￥{{order.product[i].total}}</p>
                            </td>
                        </tr>
                    </tbody>
                    <% } %>
                    <tfoot>
                        <tr class="cart_foot">
                            <td colspan="4">合计：</td>
                            <td colspan="2">
                                ￥<span class="cart_total_money">{{order.price}}</span>
                            </td>
                        </tr>
                    </tfoot>
            </table>
            {{/each}}
            {{if orders.length == 0}}
                <h3 style="text-align:center;">当前无订单信息！</h3>
            {{/if}}
        </div>
    </div>
</section>
<!--/#cart_items-->
{{/block}} {{block 'script'}}
<script>
    $(() => {
        $('.js-order').addClass('active');
    })
    function del(url) {
        $.post(url, function (res) {
            if (res.code == 1) {
                location.reload(true);
            } else {
                $('.js-msg').html(res.msg).show('normal');
            }
        })
    }

</script>
{{/block}}