{{extend './main.html'}} {{block 'title'}}商品列表{{/block}} {{block 'content'}}
<section>
    <div class="container">
        <div class="row">
            {{include './category.html'}}
            <div class="col-sm-9 padding-right">
                <!--features_items-->
                <div class="features_items">
                    <h2 class="title text-center">全部书籍</h2>
                    {{if books.length > 0}}
                    {{each books as book}}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/img/book/{{book.picture}}" style="height: 300px;" onerror="this.src='/img/default/default.png'" alt="" />
                                    <h2><a href="/book/{{book.id}}">{{book.bookName}}</a></h2>
                                    <p>{{book.price}}</p>
                                    <a href="javascript:void(0)" data-bookid="{{book.id}}" onclick="addCart(this)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="col-md-12">
                        <center><h3>抱歉，没有相关书籍。</h3></center>
                    </div>
                    {{/if}}
                    {{if pages.length > 1}}
                    <div class="col-md-12">
                        <ul class="pagination">
                            <li><a {{if page != 1 }} href="/list/shop/9/1?type={{type}}&search={{search}}" {{else}} href="javascript:void(0)"{{/if}}>&laquo;</a></li>
                            {{each pages as p}}
                            <li {{if p== page }}class="active" {{/if}}><a href="/list/shop/9/{{p}}?type={{type}}&search={{search}}">{{p}}</a></li>
                            {{/each}}
                            <li><a {{if page != pageCount }} href="/list/shop/9/{{pageCount}}?type={{type}}&search={{search}}" {{else}} href="javascript:void(0)"{{/if}}>&raquo;</a></li>
                        </ul>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>
{{/block}} {{block 'script'}}
<script>

</script>
{{/block}}