{{extend '../template.html'}} {{block 'title'}}订单列表{{/block}} {{block 'content'}}
<link rel="stylesheet" href="/css/admin.css">
<div class="row">
    <div class="col-md-10 col-md-push-1">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">订单列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{each orders as order}}
                <table class="table table-bordered">
                    <tr>
                        <th>订单时间：{{order.createTime}}</th>
                        <th colspan="6">订单编号：{{order.id}}</th>
                    </tr>
                    <tr>
                        <td>商品</td>
                        <td>单价</td>
                        <td>数量</td>
                        <td>总价</td>
                        <td>用户</td>
                        <td>合计</td>
                        <td>操作</td>
                    </tr>
                    <% for(var i = 0; i < order.product.length; i++){ %>
                        <tr class="order">
                            <td>
                                <h4><a href="">{{order.product[i].book.bookName}}</a></h4>
                            </td>
                            <td>
                                <p>￥{{order.product[i].book.price}}</p>
                            </td>
                            <td>
                                <p>{{order.product[i].count}}本</p>
                            </td>
                            <td>
                                <p>￥{{order.product[i].total}}</p>
                            </td>
                            <% if(i == 0){ %>
                            <td rowspan="{{order.product.length}}">{{order.user.petname}}</td>
                            <td rowspan="{{order.product.length}}">￥{{order.price}}</td>
                            <td rowspan="{{order.product.length}}"><a href="" onclick="del('/admin/order/del/{{order.id}}')">取消订单</a></td>
                            <% } %>
                        </tr>
                    <% } %>
                    <tr>
                        <td></td>
                    </tr>
                    </table>
                    {{/each}}
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="javascript:void(0)" {{if page !=1 }} onclick="go('{{page-1}}')" {{/if}}>&laquo;</a></li>
                    {{each pages as p}}
                    <li><a href="javascript:void(0)" onclick="go('{{p}}')" {{if p== page }}class="active" {{/if}}>{{p}}</a></li>
                    {{/each}}
                    <li><a href="javascript:void(0)" {{if page != pageCount }} onclick="go('{{page+1}}')" {{/if}}>&raquo;</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>
{{/block}} {{block 'script'}}
<script>
    function del(url) {
        $.post(url, function (res) {
            if (res.code == 1) {
                window.location.href = '/admin/order/list/';
            } else {
                $('.js-msg').html(res.msg).show('normal');
            }
        })
    }
    function go(page) {
        window.location.href = '/admin/order/list/' + page;
    }

</script>
<!-- /.col -->
{{/block}}